/* Colores */

$color-bgcolor:     #EDEAE7;
$color-textColor:   #6E6561;
$color-white:       #ffffff;
$color-darkBrown:   #564D4A;
$color-footerColor: #D8D2C9;
$color-buttonColor: #BBAF9B;
$color-darker:      #444444;
$color-h2:          #564D4A;
$color-h5:          #564D4A;

