/* Galerias & Main Content */

.sectionDescription {
   font-size: .8rem;
   @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    h5{
        color: $color-darkBrown;
        animation: fadeIn 3s;    
    }
    h2{
        color: $color-darkBrown;
        margin-top: .5rem;
     }
    p{
        color: $color-textColor;
        animation: fadeIn 3s;
    }
    
    .sectionDescription__boton {             /* Btn cv - sobremi.html */
        display: -webkit-flex;
        margin: 0 auto;
        width: 160px;
        height: 40px;
        margin-top: 16px;
        @extend .btnGral;
    }
    
    .sectionDescription__boton:hover {
        @extend .btnGralhover;
    }   
    
    .carousel-fade .carousel-inner .active {
        opacity: 1;
      }
      .carousel-fade .carousel-inner .active.left,
      .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }
      .carousel-fade .carousel-inner .next.left,
      .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
      }
      .carousel-fade .carousel-control {
        z-index: 2;
      }

}

/* Sobre Mi - Imagen */
.cv__img {
    display: flex;
    width: 70%;    
    margin: auto;
    margin-top: 3rem;
    border-radius:6px;
}

.galeriaTypo {
    img {                       /* Miniaturas */
        width: 100%;
        height:100%;
    }
    .modal {                    /* Contenedor del modal */
        margin-top: 13rem;     
    }
    .modal-content-img {        /* Tamaño de la img dentro del popup */
        width:100%;
        height:100%;
    }
    .img-responsive {
        margin: 8px;
        transition: 0.5s ease;
    }
    .img-responsive:hover {
        border-radius: 10px;
    }
   .multi-item-example-l{
    position: absolute;
        color: $color-darkBrown;
        margin-left: -2rem;
        padding-top: 16rem;
        font-size: 1.8rem;
    }
    .multi-item-example-r{
        position: absolute;
        color: $color-darkBrown;
        padding-left: 42.5rem;
        padding-top: 16rem;
        font-size: 1.8rem;
       
    }

}
        



  /* Carousel dentro de un modal custom */
  .modal-dialog {
    height: 60%; /* = 60%  .modal-backdrop block*/
  }
  .modal-content {
    height: 100%; /* = 100% .modal-dialog block */
  }
  
.xModal{
    display: flex;
    margin-top: -2.5rem;
    margin-left: 3.5rem;
}


@media (max-width: 600px) {
    
    .intro__img{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .galeriaTypo {
        padding: 0 1rem;
       
        .multi-item-example-l{
            position: absolute;
            color: $color-darkBrown;
            margin-left: -2rem;
            padding-top: 14rem;
            font-size: 1rem;
                
        }
        .multi-item-example-r{
            position: absolute;
            color: $color-darkBrown;
            padding-left: 19rem;
            padding-top: 14rem;
            font-size: 1rem;
        }
        .modalCarousel {
            width: 100%;
        }
    }
   /*  .xModal{
        display: flex;
        width: 2.5rem;
        margin-top: -1rem;
        margin-left: 15.2rem;
     
        text-align: center;
        border: none;
        text-decoration: none;
        color: $color-white;
        border-radius: 4px;
        font-size: 12px;
        letter-spacing: 2px;
        outline: none;
    } */
    
   
}

          
          
          